{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-restricted-exports": "off",
    "prefer-spread": "error",
    "semi": [
      "error",
      "never"
    ],
    "no-class-assign": "off",
    "no-case-declarations": "off",
    "no-unused-expressions": 0,
    "require-await": "error",
    "jsx-a11y/href-no-hash": [
      "off"
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "prop": "ignore"
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "arrow-parens": "off",
    "max-len": [
      "warn",
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 80,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}